* {
    font-family: 'Times New Roman', Times, serif;
    
}

body {
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: grey;
    
}

.headerbox {
    background-color: lightblue;
    width:300px;
    height:50px;
    margin-left: 10px;
    
}
main {
    
}
header h1 {
    justify-content: flex-end;
    margin-left:35px;
    margin-top: 15px;
    color: gray;


}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color:aliceblue
   
}

.headerhover {
    border-bottom: 5px solid lightblue;
    margin: 10px;
    background-color: gray;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-size: 20px;
}
.headerhover:hover {
    background-color: lightblue;
}
main div img {
    width:100%;
    height: 140px;
}

.subtitle {
    display:flex;
    width:auto;
    margin-right: 50px;
    justify-content: right;
    font-size:36px;

}
.subtitle-p {
    background-color: gray;
    margin-top:  -70px;
    height:50px
}

.AboutMe{
    display: flex;
   
    margin-top:100px;
}
.AboutMe h1 {
    border-right: 5px solid lightblue;
    width: 30%;
    height:600px;
    justify-content: left;
    text-align: center;
    font-size: 50px;

}
.AboutMe p{
    margin: 100px;
    margin-left: 400px;;
    
}
#ph1text{
    display:none;
    padding:1%;
}

.Placeholder1{
    
    width: 700px;
    height: 300px;
    justify-content: center;
    margin-left: 150px;
    border:5px solid lightblue;
}
.Placeholder1 img{
    width:100%;
    height:100%;
}
/* .Placeholder1:hover #ph1text{
        display: flex;
        margin-top:-10px;
    
} */

.Placeholder2{
    
    width: 25%;
    height: 200px;
    justify-content: center;
    margin-left: 150px;
    border:5px solid lightblue;
}
.Placeholder2 img{
    width:100%;
    height:100%;
}
/* .Placeholder2:hover #ph1text{
        display: flex;
        margin-top:-10px;
    
} */

.Placeholder3{
    display: inline;
    width: 25%;
    height: 200px;
    justify-content: center;
    margin-left: 10px;
    border:5px solid lightblue;
}
.Placeholder3 img{
    width:100%;
    height:100%;
}
/* .Placeholder3:hover #ph1text{
        display: flex;
        margin-top:-10px;
    
} */

.Placeholder4{
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 200px;
    justify-content: center;
    margin-left: 150px;
    border:5px solid lightblue;
}
.Placeholder4 img{
    width:100%;
    height:100%;
}
/* .Placeholder4:hover #ph1text{
        display: flex;
        margin-top:-10px;
    
} */

.Placeholder5{
    display: inline;
    width: 20%;
    height: 200px;
    justify-content: center;
    margin-left: 0px;
    border:5px solid lightblue;
}
.Placeholder5 img{
    width:100%;
    height:100%;
}
/* .Placeholder5:hover #ph1text{
        display: flex;
        margin-top:-10px;
    
} */
