* {
    font-family: 'Times New Roman', Times, serif;
    
}

body {
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: grey;
    
}

.headerbox {
    background-color: lightblue;
    width:300px;
    height:50px;
    margin-left: 10px;
    
}
main {
    
}
header h1 {
    justify-content: flex-end;
    margin-left:35px;
    margin-top: 15px;
    color: gray;


}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color:aliceblue
   
}

.headerhover {
    border-bottom: 5px solid lightblue;
    margin: 10px;
    background-color: gray;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-size: 20px;
}
.headerhover:hover {
    background-color: lightblue;
}
main div img {
    width:100%;
    height: 140px;
}

.subtitle {
    display:flex;
    width:auto;
    margin-right: 50px;
    justify-content: right;
    font-size:36px;

}
.subtitle-p {
    background-color: gray;
    margin-top:  -70px;
    height:50px
}

#AboutMe{
    display: flex;
   
    margin-top:100px;
}
#AboutMe h1 {
    border-right: 5px solid lightblue;
    width: 30%;
    height:700px;
    justify-content: left;
    text-align: center;
    font-size: 50px;

}
#Work{
    display: flex;
   
    margin-top:100px;
}
#Work h1 {
    display:flex;
    border-right: 5px solid lightblue;
    width: 30%;
    height:700px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-left:6%;
}
#ContactMe{
    display: flex;
   
    margin-top:100px;
}
#ContactMe h1 {
    display: flex;
    border-right: 5px solid lightblue;
    width: 30%;
    height:700px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
#ContactMe p {
    display:inline-flex;
    text-align: center;
    margin-top: 250px;
    margin-left: 100px;
    font-size: 32px;
    border-bottom: 5px solid lightblue;
    color: #fff bolder;
}
#Resume{
    display: flex;
   
    margin-top:100px;
}
#Resume h1 {
    display: flex;
    border-right: 5px solid lightblue;
    width: 30%;
    height:700px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
#Resume p {
    display:inline-flex;
    text-align: center;
    margin-top: 250px;
    margin-left: 100px;
    font-size: 32px;
    border-bottom: 5px solid lightblue;
}
#AboutMe p{
    margin: 100px;
    margin-left: 400px;;
    
}
#ph1text{
    display:none;
    padding:1%;
}

.Placeholder1{
    display: inline-flex;
    width: 80%;
    height: 300px;
    justify-content: center;
    margin-left: 50px;
    margin-bottom:10px;
    border:5px solid lightblue;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.Placeholder1 img{
    width:100%;
    height: 100%;
    opacity: 0.1;
}
#Work div img {
    opacity: 0.3;
}
.Placeholder1:hover {
    border:10px solid lightblue;
    opacity:1; 
}
#Work div .Placeholder1:hover {
    border:10px solid lightblue;
    opacity:1; 
}


.Placeholder2{
    display: inline-flex;
    width: 39%;
    height: 200px;
    justify-content: center;
    margin-left: 50px;
    margin-bottom:10px;
    border:5px solid lightblue;
    transition: all 0.5s ease-in-out;
}
.Placeholder2 img{
    width:100%;
    height:100%;
}
.Placeholder2:hover {
    border:10px solid lightblue;
    opacity:1; 
}
#Work div .Placeholder2:hover {
    border:10px solid lightblue;
    opacity:1; 
}


.Placeholder3{
    display: inline-flex;
    width: 39%;
    height: 200px;
    justify-content: center;
    margin-left: 10px;
    margin-bottom:10px;
    border:5px solid lightblue;
    transition: all 0.5s ease-in-out;
}
.Placeholder3 img{
    width:100%;
    height:100%;
}
.Placeholder3:hover {
    border:10px solid lightblue;
    opacity:1; 
}
#Work div .Placeholder3:hover {
    border:10px solid lightblue;
    opacity:1; 
}


.Placeholder4{
    display: inline-flex;
    flex-direction: row;
    width: 80%;
    height: 200px;
    justify-content: center;
    margin-left: 50px;
    margin-bottom:10px;
    border:5px solid lightblue;
    transition: all 0.5s ease-in-out;
}
.Placeholder4 img{
    width:100%;
    height:100%;
}
.Placeholder4:hover {
    border:10px solid lightblue;
    opacity:1; 
}
#Work div .Placeholder4:hover {
    border:10px solid lightblue;
    opacity:1; 
}

@media screen and (max-width: 968px){
    header{
        width:75%;
    }
}