* {
    font-family: 'Times New Roman', Times, serif;
    
}

body {
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: grey;
    
}
.headerbox {
    background-color: lightblue;
    width:300px;
    height:50px;
    margin-left: 10px;
    

}

header h1 {
    justify-content: flex-end;
    margin-left:35px;
    margin-top: 15px;
    color: gray;


}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color:aliceblue
   
}

.headerhover {
    border-bottom: 5px solid lightblue;
    margin: 10px;
    background-color: gray;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-size: 20px;
}
.headerhover:hover {
    background-color: lightblue;
}